<div class="content">
  <section id="content">
    <section class="main padder">
      <div class="row">
        <div class="col-lg-7">
          <h2><span class="glyphicon glyphicon-user"></span> <%= @business.name %></h2>
        </div>
        <div class="col-lg-5 m-t-large" align="right">
          <div class="btn-group">
            <button  onclick="location.href= '<%= new_product_path(business_id: @business.id) %>'"; class="btn btn-success btn-lg" > <i class="icon-plus"> </i>Add New Product</button>
          </div>

          <div class="btn-group">
            <button  onclick="location.href= '<%= new_work_detail_path(business_id: @business.id) %>'"; class="btn btn-success btn-lg" > <i class="icon-plus"> </i>Add New Work</button>            
          </div>
          
          <div class="btn-group">
            <%= link_to raw("<i class='icon-mail-reply'></i>Back"), businesses_url, :class=>'btn  btn-default btn-lg' %>
            <p></p>
          </div> 
        </div>
        <%= link_to 'Edit Business', edit_business_path(@business) %> 
      </div>
      <div class="row">
        <div></div>
      </div>
      <div class="row">
        <div></div>
      </div>
      <div class="row">
        <div>
        <table style="border-collapse: collapse; border-spacing: 0;">
        <tbody>
          <tr style="border: 1px solid black; padding: 15px; text-align: center;">
          <% @products.each do |product| %>
            <table style="border-collapse: collapse; border-spacing: 0;">
              <tr>
                <th style="border: 1px solid black; border-right: none ; padding: 15px; font: 25px">
                </th>
                <th style="border-top: 1px solid black; padding: 15px; text-align: center; font: 25px">
                  <%= link_to product.name, edit_product_path(product.id) %> 
                </th>
                <th colspan="2" style="border: 1px solid black; border-left: none ; padding: 15px; font: 25px"></th>
              </tr>
              <% product.work_details.each.with_index(1) do |work_detail,index| %>
              <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center; width: 25%"><%= index %></td>
                <td style="border: 1px solid black; padding: 15px; width: 60%"><%= work_detail.name %></td>
                <td style="border: 1px solid black; padding: 15px"><%= link_to 'Edit',edit_work_detail_path(work_detail.id) %></td>              
              </tr>
              <%end%>
              <tr>
                <br>
              </tr>
            </table>
          <%end%>
          </tr>
          </tbody>
        </table>
                  

    </section>
  </section>
</div>

