
      <%= render :partial=> "shared/user_and_company_title"%>
      <!-- Main navigation -->

<div class="sidebar">
  <%= link_to "Employee", :controller => :employees, :action => :index %>
  <%= link_to "Businesses", :controller => :businesses, :action => :index %>
  <%= link_to "Product", :controller => :products, :action => :index %>
  <%= link_to "Activity", :controller => :activity_details, :action => :index %>
  <%= link_to "Work Details", :controller => :work_details, :action => :index %>
  <%= link_to "Customer", :controller => :customers, :action => :index %>
  <%= link_to "Order", :controller => :orders, :action => :index %>
  <a href="#about">Expenses</a>
</div>