<p id="notice"><%= notice %></p>

<div class="content">
<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-7">
        <h2><span class="glyphicon glyphicon-user"></span> <%= @income.customer.name %></h2>
      </div>
      <div class="col-lg-5 m-t-large" align="right">
        <%= link_to raw("<i class='icon-mail-reply'></i>Back"), incomes_url, :class=>'btn  btn-default btn-lg' %>
        <p></p>
      </div>

      <div class="col-lg-7">
        <p>
          <h4>Address: <%= @income.customer.full_address %></h4>
        </p>
	      </div>  
    </div>

    
        <div class='row'>
          <div class='col-lg-12'>
            <table  class="table table-striped b-t text-small" id="report">
              <thead>
                <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Status</th>
                
                </tr>
              </thead>
              <tbody>
             
                <tr>
                    <td><%= @income.income_date %></td>
                    <td><%= @income.description %></td>
                    <td><%= @income.amount %></td>
                    <td><%= @income.income_status %></td>
                  </tr>          
             </tbody>
            </table>
          </div>
        </div>