<div class="content">
<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-7">
        <h2><span class="glyphicon glyphicon-user"></span> <%= @customer.name %></h2>
      </div>
      <div class="col-lg-5 m-t-large" align="right">
        <%= link_to raw("<i class='icon-mail-reply'></i>Back"), customers_url, :class=>'btn  btn-default btn-lg' %>
        <p></p>
      </div>  
    </div>

<p>
	<b>Phone Number: </b>
	<%= @customer.phone_number %>
</p>

<p>
	<b>Email: </b>
	<%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> 
