<%= form_for(@work_detail, local: true) do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <div class="panel-body">
          <div class="form-group">
            <div class="field">
            <%= hidden_field_tag "[business_id]", @business.id %>
              <%= f.label :product %><br>
              <%= f.collection_select :product_id, Product.order(:name), :id,:name %>
            </div>
            <div class="field">
              <%= f.label :name %><br>
              <%= f.text_field :name %>
            </div>
            <div class="field">
              <%= f.label :unit_of_measure %><br>
              <%= f.text_field :unit_of_measure %>
            </div>
            <div class="field">
              <%= f.label :sequence %><br>
              <%= f.text_field :sequence %>
            </div>
            <div class="col-lg-8 col-lg-offset-4" id="submit">
              <button class="btn btn-success">Save</button> 
              <a class="btn btn-default" href="/work_details">Cancel</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>
