<%= form_with(model: activity_detail, local: true) do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <div class="panel-body">
          <div class="form-group">
  
  <div class="field">
    <%= f.label :work_detail, :class=>'control-label' %><br>
    <%= f.collection_select :work_detail_id, WorkDetail.order(:name), :id,:name, :class => 'form-control bg-focus', :style=>"width:'300px';" %>
  </div>

<div class="field">
    <%= f.label :select_team, :class=>'control-label-required' %>

    <select class="chosen-select" multiple="true">
      <%= @employess.each do | emp |%>
      <option value="<%= emp.id %>"><%= emp.name %></option>
     <% end %>
    </select>
  </div>

  <div class="field">
    <%= f.label :date, :class=>'control-label' %><br>
    <%= f.text_field :date, :class => 'form-control bg-focus', :style=>"width:120px;", :id => "start_date" %>
  </div>



            <div class="col-lg-8 col-lg-offset-4" id="submit">
              <button class="btn btn-success">Save</button> 
              <a class="btn btn-default" href="/activity_details">Cancel</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>

<script type="text/javascript">


    
  
</script>