<div class="content">
<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-7">
        <h2><span class="glyphicon glyphicon-user"></span> <%= @activity_detail.work_detail.name %></h2>
      </div>
      <div class="col-lg-5 m-t-large" align="right">
        <%= link_to raw("<i class='icon-mail-reply'></i>Back"), activity_details_url, :class=>'btn  btn-default btn-lg' %>
        <p></p>
      </div>  
    </div>

<p>
	<b>Team Size Required: </b>
 <%= @team_size %>
</p>

<p>
	<b>Date: </b>
	<%= @activity_detail.start_date %>
</p>

<p>
	<b>Status: </b>
	<%= @activity_detail.status_val %>
</p>

<%if @activity_detail.end_date.present? %>
<p>
	<b>End Date: </b>
	<%= @activity_detail.end_date%>
</p>
<%end%>

<%= link_to 'Edit', edit_activity_detail_path(@activity_detail) %> |

