<div class="content">
<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-7">
        <h2><span class="glyphicon glyphicon-user"></span> <%= @activity_detail.work_detail.name %></h2>
      </div>
      <div class="col-lg-5 m-t-large" align="right">
        <%= link_to raw("<i class='icon-mail-reply'></i>Back"), activity_details_url, :class=>'btn  btn-default btn-lg' %>
        <p></p>
      </div>  
    </div>

<p>
	<b>Team Size Required: </b>
	<%= @activity_detail.team_size %>
</p>

<p>
	<b>Date: </b>
	<%= @activity_detail.date %>
</p>

<p>
	<b>Amount of work done: </b>
	<%= @activity_detail.amount_of_work %>
</p>

<p>
	<b>Expense: </b>
	<%= @activity_detail.expense %>
</p>

<p>
	<b>Revenue: </b>
	<%= @activity_detail.revenue %>
</p>

<p>
	<b>Income: </b>
	<%= @activity_detail.income %>
</p>

<%= link_to 'Edit', edit_activity_detail_path(@activity_detail) %> |

