<div class="content">
  <section id="content">
    <section class="main padder">
      <div class="row">
        <div class="col-lg-4">
          <h2><i class="icon-user text"></i>Vendors</h2>
        </div>
        <div class="col-lg-8 m-t-large" align="right">
          <div class="btn-group">
            <button  onclick="location.href= '<%= new_vendor_path %>'"; class="btn btn-success btn-lg"; disabled = "current_user.subscription_end_date.present?" > <i class="icon-plus"> </i>Add New Vendor</button>
         </div>
        </div>
      </div>
      <div class="row">
        <% if flash[:error].present? %>
          <h4><%= flash[:error] %></h4>
        <%end%>
      </div>
      <div class="panel-body">  
        <div class="row">
          <div class="col-lg-12"><p></p>
            <section class="panel">
             <div class="panel-body">
                <div class="table-responsive">
                  <table id="vendors" class="table table-striped m-b-none text-small">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Phone no.</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if @vendors.blank? %>
                        <%= render :partial=>"/shared/no_data_found"%>
                      <% else %>
                        <% @vendors.each do |vendor| %>
                          <tr>
                            <td><%= vendor.name %></td>
                            <td><%= vendor.phone_number %></td>
                            <td><%= link_to 'Show', vendor %></td>
                            <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
                            <td><%= link_to 'Delete', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="text-center"></div>              
              </div>  
            </section>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
