<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-6">
        <h2><i class="icon-file-text-alt text"></i>Billing Invoice Detail</h2>
      </div>
      <div class="col-lg-6 m-t-large" align="right">
       
      </div>  
    </div>
    <section class="panel">
      <div class="panel-body">
        <div class="row">
          <!-- Invoice second section -->
          <div class="col-sm-5">
            <h4><strong> Customer Name: </strong> <br/><%= current_user.email %></h4>
         </div>
         <div class="col-sm-7">
          <section class="panel">
            <div class="panel-body">
              <!-- Invoice basic details -->
              <div class="col-sm-6">
                <p><strong>  </strong>1</p>
                <p><strong> SHG Name: </strong> <%= current_user.shg_name %> </p>
                
              </div>
            </div>
            <footer class="panel-footer">
              <div class="row">
                <div class="col-sm-6"><i class="icon-calendar"> </i>
                </div>
              </div>
            </footer>
          </section>
        </div>
        <!-- Invoice second section ends-->
      </div>
      <div class="col-lg-12">
        <table class="table table-striped b-t text-small">
          <thead>
            <tr>
              <th>Item</th>
              <th>Amount</th>
            </tr>
          </thead> 
          <tbody> 
          <tr>
            <td>Basic Pack</td>
            <td>500</td>
          </tr>
         </tbody>
        </table>
        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-4">                      
            <%= form_tag "#{@gateway}" do %>
            <input type="hidden" name="merchantId" value="ruralcaravan"/>
            <input type="hidden" name="orderAmount" value="<%=@billing_invoice.amount%>"/>
            <input type="hidden" name="currency" value="INR"/>
            <input type="hidden" name="merchantTxnId" value="<%= @merchantTxnId%>"/>
            <input type="hidden" name="secSignature" value="<%= @encryptedVal%>"/>
            <input type="hidden" name="returnUrl" value="<%=@responseURL%>"/>
            <input type="hidden" name="email" value="<%= @current_user.email%>" />
            <input type="submit" value="Proceed to payment" name="submit" class = "btn btn-success" />
            <a href="/billing/index" class="btn btn-white">Cancel</a>
            <% end %> 
      </div>
    </div>
  </section>
</section>
</section>
 