<div class="content">
<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-7">
        <h2><span class="glyphicon glyphicon-user"></span> <%= @expense.customer.name %></h2>
      </div>
      <div class="col-lg-5 m-t-large" align="right">
        <%= link_to raw("<i class='icon-mail-reply'></i>Back"), expenses_url, :class=>'btn  btn-default btn-lg' %>
        <p></p>
      </div>  
    </div>
    <p>
		<b>Amount <%= Expense.statuses.key(@expense.expense_status) %>: </b>
		<%= @expense.amount %>
	</p>
	<p>
		<b>Date: </b>
		<%= @expense.expense_date %>
	</p>
	<p>
		<b>Description: </b>
		<%= @expense.description %>
	</p>
	
<%= link_to 'Edit', edit_expense_path(@expense) %> 
